# Node modules
node_modules/
**/node_modules/

# Build folders
build/
dist/
renderer/build/
renderer/dist/

# Database
database/*.db
database/*.sqlite

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
